In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("IRIS.csv")

In [3]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
x = data.drop("species",axis=1)

In [5]:
x.head(5)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
y =data["species"]

In [7]:
y.sample(5)

120     Iris-virginica
90     Iris-versicolor
52     Iris-versicolor
8          Iris-setosa
145     Iris-virginica
Name: species, dtype: object

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3)

In [12]:
from sklearn.svm import SVC
model = SVC(C = 0.1, kernel = "rbf")

In [13]:
model.fit(x_train,y_train)

SVC(C=0.1)

In [15]:
model.score(x_test, y_test)

0.9777777777777777

## GridSearchCV

In [16]:
from sklearn.model_selection import GridSearchCV

In [17]:
param_grid = {'C':[0.1,1,10],'kernel':['rbf','linear','poly']}

In [18]:
grid_search = GridSearchCV(estimator = model,param_grid =param_grid)
grid_search.fit(x_train, y_train)

GridSearchCV(estimator=SVC(C=0.1),
             param_grid={'C': [0.1, 1, 10],
                         'kernel': ['rbf', 'linear', 'poly']})

In [19]:
grid_search.best_params_

{'C': 1, 'kernel': 'linear'}

In [20]:
grid_search.score(x_test,y_test)

1.0

## RandomizedSearchCV

In [21]:
from sklearn.model_selection import RandomizedSearchCV

In [22]:
param_dist = {'C':[0.1,1,10],'kernel':['rbf','linear','poly']}

In [23]:
randomized_search = RandomizedSearchCV(estimator =model,param_distributions =param_dist, n_iter=8)
randomized_search.fit(x_train, y_train)

RandomizedSearchCV(estimator=SVC(C=0.1), n_iter=8,
                   param_distributions={'C': [0.1, 1, 10],
                                        'kernel': ['rbf', 'linear', 'poly']})

In [24]:
randomized_search.best_params_

{'kernel': 'linear', 'C': 1}

In [25]:
randomized_search.score(x_test,y_test)

1.0